@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

#title{
    font-size: 68px;
    font-weight: 200;
    color: #1f1f1f;
    margin-top: 30px;
    margin-left:20px;
}

#date{
    font-size: 20px;
    color: #838383;
    margin-bottom: 5px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.photo {
    margin-left: 50px;
    height: 150px;
    width: 150px;
}

.stats{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #838383;
}